<style type="text/css">

.tg {
    
	margin:30px;padding:0px;
	width:100%;
	border:1px solid #e5e5e5;
   
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
    
}.tg table{
    border-collapse: collapse;
    border-spacing: 0;
    width:96%;
    margin-left: 30px;
    margin-top: 30px;
    padding:0px;

}.tg tr:last-child td:last-child {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
    
}
.tg table tr:first-child th:first-child {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;

}
.tg table tr:first-child th:last-child {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;

}.tg tr:last-child td:first-child{
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
}.tg tr:hover td{
	background-color:#add2f7; /*Horer da segunda linha para baixo!?*/
		

}
.tg td{
	vertical-align:middle;
	background-color:#ffffff;

	border:1px solid #e5e5e5;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:6px;
	font-size:10px;
	font-family:Verdana;
	font-weight:normal;
	color:#000000;
    
}.tg tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tg tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tg tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tg tr:first-child th{
    background:-o-linear-gradient(bottom, #6092dc 5%, #4271ca 100%);	
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6092dc), color-stop(1, #4271ca) );
	background:-moz-linear-gradient( center top, #6092dc 5%, #4271ca 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#6092dc", endColorstr="#4271ca");	
    background: -o-linear-gradient(top,#6092dc,4271ca);

    
	background-color:#6092dc;
	border:0px solid #e5e5e5;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:11px;
	font-family:Verdana;
	font-weight:bold;
	color:#ffffff;
}


.tg tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;

}
.tg tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;

}

.tg .Q1{
    font-weight:bold;
    font-size: 11px;
    font-family:Verdana;
    color:#ffffff;
    border-collapse:collapse;
    font-family:Verdana; 
    background: -webkit-gradient(linear, left top, left bottom, from(#92D050), to(#B4DF85));
    text-align:center;
    white-space: normal;
    width: 10px;

    }
.tg .Q2{
    font-weight:bold;
    font-size: 11px;
    font-family:Verdana;
    color:#ffffff;
    border-collapse:collapse;
    font-family:Verdana; 
    background: -webkit-gradient(linear, left top, left bottom, from(#FFC000), to(#FFE389));
    text-align:center;
    white-space: normal;
    width: 10px;

    }
.tg .Q3{
    font-weight:bold;
    font-size: 11px;
    font-family:Verdana;
    color:#ffffff;
    border-collapse:collapse;
    font-family:Verdana; 
    background: -webkit-gradient(linear, left top, left bottom, from(#FB9705), to(#FFC000));
    text-align:center;
    white-space: normal;
    width: 10px;

    }
.tg .Q4{
 
    font-weight:bold;
    font-size: 11px;
    font-family:Verdana;
    color:#ffffff;
    border-collapse:collapse;
    font-family:Verdana; 
    background: -webkit-gradient(linear, left top, left bottom, from(#C00000), to(#FF4343));
    text-align:center;
    white-space: normal;
    width: 10px;

    
    }
.tg .M2{
 
    font-weight:bold;
    font-size: 11px;
    font-family:Verdana;
    color:#ffffff;
    border-collapse:collapse;
    font-family:Verdana; 
    background: -webkit-gradient(linear, left top, left bottom, from(#C00000), to(#FF4343));
    text-align:center;
    white-space: normal;
    width: 10px;

    
    }

</style>