    form{
    background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    margin: auto;
    width:100%;
    height:90px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    position: relative;
    color: #476683;
    background-color: #F9FBFC;}
    img#gif-loading{
    position:relative;
    left: 1130;
    bottom: 47;
    }
    div.calendario{
    width: 60%; 
    margin-top: 1px;
    float: left;
    position: relative;
    }
    div.calendario_1{
    width: 28%; 
    margin-top: 1px;
    float: left;
    position: relative;
    }
    div.calendario_2{
    width: 28%; 
    margin-top: 1px;
    float: left;
    position: relative;
    }
    div.dmatricula{
    width: 28%; 
    margin-top: 1px;
    float: left;
    position: relative;
    }
    div.dtipoajuste{
    width: 28%; 
    margin-top: 1px;
    float: left;
    position: relative;
    }
   div.vajustar{
    width: 28%; 
    margin-top: 1px;
    float: left;
    position: relative;
    }    
 
div#conteudo-carregado{
  display: block;
  margin-left:-5px;
  margin-right:10px;
}


    