<style tyle="text/css">
div.circ{;}
div.circred {
    width: 9px;
    height: 9px;
    
    
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F78F91), color-stop(1, #F46E70) );
    border:1px solid #A1483E;
   	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}
div.circyel {
    width: 9px;
    height: 9px;

    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FEE693), color-stop(1, #FED549) );
    border:1px solid #DF8B31;
   	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}
div.circgreen {
    width: 9px;
    height: 9px;

    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #75C68B), color-stop(1, #56B971) );
    border:1px solid #477642;
   	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}
div.circblack {
    width: 9px;
    height: 9px;

    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #373737), color-stop(1, #2C2C2C) );
    border:1px solid #050506;
   	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}



.Ctable .Q1{
    font-weight:bold;
    font-size: 11px;
    font-family:Verdana;
    color:#ffffff;
    border: 1px solid silver;
    
    font-family:Verdana; 
    background: -webkit-gradient(linear, left top, left bottom, from(#92D050), to(#B4DF85));
    text-align:center;
    white-space: normal;
    width: 10px;

    }
.Ctable .Q2{
    font-weight:bold;
    font-size: 11px;
    font-family:Verdana;
    color:#ffffff;
    border: 1px solid silver;
    border-collapse: collapse;
    font-family:Verdana; 
    background: -webkit-gradient(linear, left top, left bottom, from(#FFC000), to(#FFE389));
    text-align:center;
    white-space: normal;
    width: 10px;

    }
.Ctable .Q3{
    font-weight:bold;
    font-size: 11px;
    font-family:Verdana;
    color:#ffffff;
    border: 1px solid silver;
    border-collapse: collapse;
    font-family:Verdana; 
    background: -webkit-gradient(linear, left top, left bottom, from(#FB9705), to(#FFC000));
    text-align:center;
    white-space: normal;
    width: 10px;

    }
.Ctable .Q4{
 
    font-weight:bold;
    font-size: 11px;
    font-family:Verdana;
    color:#ffffff;
    border: 1px solid silver;
    border-collapse: collapse;
    font-family:Verdana; 
    background: -webkit-gradient(linear, left top, left bottom, from(#C00000), to(#FF4343));
    text-align:center;
    white-space: normal;
    width: 10px;

    
    }
.img .s0{
	width: 15px;
	height: 15px;
}

.img .s2{
	width: 15px;
	height: 15px;
	
}

</style>