body{
	margin: 0;
	font-family: RobotoDraft;
}

.fw{
	width: 100%;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.card{
	box-shadow: 0px 1px 10px -1px rgba(0,0,0,.26)
}

.top-menu{
	background-color: #0091ea;
	box-shadow: 0px 2px 5px rgba(0,0,0,.26);
	height: 10%;
	position: fixed;
}

.clear-top-menu{
	height: 10%;
}

.main-content{
	background-color: #fff;
	height: 90%;
}



.content{
	display: inline-block;
	float: right;
	height: 100%;
	-webkit-transition: width .5s; /* For Safari 3.1 to 6.0 */
    transition: width .5s;
}

.kpi-selector{
	height: 95px;
	background-color: #eee;
}

.clear-top-selector{
	height: 15%;
}

.charts{
	height: 600px;
}

.charts .area{
	width: 90%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.charts .area .clear-area{
	width: 100%;
	height: 5%;
	display: inline-block;
}

.charts .main-chart{
	height: 80%;
	width: 56%;
	display: inline-block;
}

.charts .top{
	margin: 5% 2% 1% 2%;
}

.charts .bottom{
	margin: 0% 2% 1% 2%;
}

.charts .top-general{
	margin: 0% 1% 1% 1%;
}

.charts .secondary-chart{
	height: 38%;
	width: 36%;
	display: inline-block;
}

.charts .general-chart{
	height: 38%;
	width: 31%;
	display: inline-block;
}

.kpi-info{
	height: 15%;
}


@media (width: 1280px){

	.charts{
		height: 60%;
	}

	.kpi-info{
		height: 25%;
	}

}