body {background:#FFF url(images/bg_azul.jpg) no-repeat center top;}

#geral {}


/* p, h1, h2, h3, h4, h5, h6{ margin: 1em 0;} */

/*--- Titulos / Textos / Links ---*/
h3 { font: 13px "Tahoma", sans-serif; padding:0 0 6px 0;}

.tituloMaior h3 {
                font-size: 16px !important;
                margin-bottom:4px;
                font-weight: normal !important;
                margin-top:0px !important;
				color:#01B1F4 !important;
				background:none !important;
}
h3#titdestaque a {margin:0 0 8px 0; font-size:14px; color:#656565; font-weight:normal;}
.jcarousel-item p {margin:0 !important}
h4 { font:bold 1.2em "Tahoma", sans-serif; padding:0 !important;}
h4.vantagens { font:bold 1.2em "Tahoma", sans-serif; padding:10px 0 0 64px; position:relative; margin-bottom:30px;}
h4.vantagens  span {position:absolute; left:45px; top:30px; }

h4.titulo2 {padding:4px 0 0px 2px;}

h2 {font: bold 1.8em "Tahoma", sans-serif; padding-bottom: 5px;}



#to_menuTopo { width:780px; right:-10px; top:114px;}


#topo H1 {
	BACKGROUND: url(images/logo_bg_azul.png) no-repeat right top
}
.divFundoUnica {
	BACKGROUND: url(images/box_vermelho_unica.gif) #fff no-repeat
}
#latEsquerdo .jornais {
	BORDER-BOTTOM: #b6b7b1 1px solid; BACKGROUND: url(images/bg_jornais_vermelho.jpg) #fab0b8 repeat-x
}
#rodape {
	background:url(images/bg_azul_rodape.png) repeat-x;
	margin-top /*\**/: 1px\9 !important;
	*margin-top: 1px !important;
	_margin-top: 1px !important;	
}
H2 {
	color: #01B1F4 !important;
	font: normal 22px "Tahoma",sans-serif !important;
}
H3 {
	COLOR:#01B1F4 !important;
	font-size:16px;
	font-weight:normal;
	padding:0;
	margin:0;
}
H4 {
	COLOR: #01B1F4 !important
}
H5 {
	color: #01B1F4 !important;
	font-size:12px !important;
	font-weight:normal !important;
}
.divFundo H3 {
	COLOR: #01B1F4 !important;
}
.divFundo H3 A {
	COLOR: #01B1F4 !important;
}
.divFundo H3 img {
	COLOR: #01B1F4 !important;
	margin:0 4px 0 0;
}
.divFundoUnica H3 A {
	COLOR: #af1a2b !important
}
#divBannerPrincipal {
	position:relative;
	background:#019AD5 !important;
}
#divBannerPrincipal #BannerImg {width:530px;height:244px; float:left; margin:2px 2px 0 0; text-align:center !important;}
.bannerPrincipal .botoes {width:170px; height:27px; position:absolute; right:10px; bottom:-7px;}
.bannerPrincipal .botoes img {margin:5px 0 4px 2px;}
.blog_corporativo {
	BACKGROUND-COLOR: #DCDCDC
}
.blog_corporativo_historico {
	BACKGROUND-COLOR: #fae3e6
}
.blog_corporativo_ul {
	LIST-STYLE-IMAGE: url(images/seta_vermelho.gif)
}
.for_bt_busca {background:url(images/bt_azul_buscar.png) no-repeat;}
.txtAzul {color:#01A1E0;}
.txtCinza {color:#666666 !important;}

.breadcrumb {
	color:#01AFF4;
}

ul.listaBullet li {
	background:url(images/bullet_azul.gif) no-repeat 0 9px;
}
ul.listaBullet li a {
	padding:0 0 0 12px;
	font-size:12px;
	color:#656565;
}
p.vejaMais a {background:url(images/ico_seta.gif) no-repeat 0 7px !important; color:#00B1F4 !important; font-weight:bold !important; text-decoration:underline !important; font-size:12px !important; padding:0 0 0 10px !important; margin:5px 0 0 0;}

.alert-cancel {text-decoration:none !important; color:#656565; padding:0 0 0 12px; margin:0 -8px 0 0; font-size:12px !important;}
.link-cancel {text-decoration:line-through;}
.noMargin p {margin:0 !important}
.noPadding p {padding:0 !important;}
.table-padrao h3, .table-padrao h3 p {color:#01B1F4 !important;	font-size:16px !important; font-weight:normal !important;}
.table-padrao h5, .table-padrao h5 p {color:#01B1F4 !important;	font-size:12px !important; font-weight:normal !important; margin:4px 0 !important;}
.table-padrao p {color:#656565 !important; font-size:12px !important; line-height:1.6em !important;}
.table-padrao input, .table-padrao select, .table-padrao textarea {border:solid 1px #CCCCCC !important;}
.table-padrao input {height:22px !important; padding:0 !important;}
.table-padrao #noticias ul.listaBullet li a {color:#01B1F4 !important;	font-size:12px !important; font-weight:normal !important; line-height:1.4em !important;}
.inputTable input {height:auto !important;}
.table-padrao .bt_100px {background:#0191CB !important; border:none !important; color:#FFFFFF !important; padding:4px 10px !important; width:auto !important; font-weight:normal !important;}
.table-padrao label {margin:0 0 0 4px;}
.table-padrao select {padding:3px !important;}
.table-padrao textarea {}
.table-padrao input.botao {background:#0191CB !important; border:none !important; color:#FFFFFF !important;}
.table-noPadding {padding:0 !important;}
.txt-alert {color:#01B1F4 !important;}
.azul {color:#01B1F4 !important;}

.table-padrao a{color:#01B1F4 !important;}
.table-padrao p a{color:#01B1F4 !important;}
.table-padrao span a{color:#01B1F4 !important;}

/* Login */
.login {background:url(images/bg_login_azul.jpg) repeat-x !important;}
/*Alterado para nova tela de login*/
.login #topo { background:url(images/bg_login_form_azul.jpg) no-repeat center top !important; height: 190px !important; top: -47px; }




.login #topo h1 {background:none !important;}

/*Alterado para nova tela de login*/
#to_login {width:366px !important; height:105px !important; right:148px !important; top:70px !important; border:none !important}
#to_login span {color:#01AFF4 !important; font-size:14px !important; font-weight:normal !important; text-align:right !important; width:52px !important; display:inline-block;}
#to_login_btOk {height: 28px !important; width: 93px !important; right:28px !important; top:78px !important;}
#to_login_btOk input {background:url(images/bt_login.png) no-repeat left top !important; height: 28px !important; width: 93px !important; cursor:pointer; }

/* RH ONLINE */
.table-rhonline {padding:0px 20px;}
.table-rhonline h3  {display:inline; color:#01AFF4 !important; background:none !important; font-size:16px !important; font-weight:normal !important;}
div.box {margin:0 10px 10px 0 !important;}
span.bullet {background: url(images/ico_seta.gif) no-repeat 0 6px !important; padding:0 10px 0 0;}

.table-rhonline a{color:#01B1F4 !important;}
.table-rhonline p a{color:#01B1F4 !important;}
.table-rhonline span a{color:#01B1F4 !important;}

/* Meu Departamento */
.abrir_todas {color:#01B1F4 !important;}
#centro {float: left; margin-left: 2%; margin-bottom:12px !important; margin-top:12px!important; width: 40%;}
#centro h3 {font-size:12px !important; font-weight:bold !important; color:#656565 !important; margin:6px 0px; padding:0 0 4px 0; background:url(images/divisor_azul.png) repeat-x bottom !important;}
#centro p {font-size:12px !important; margin:0 !important;}
#conteudo {width:100% !important;}
#direita {float: left; margin-left:30px !important; margin-top: 1%; width: 27%;}
#direita h3 {background:none !important;}
#direita h3 a {font-size:13px !important; color:#01B1F4 !important; font-weight:normal !important;}
#direita ul {margin:14px 0 0 0 !important; padding:0 !important;}
#direita ul li {list-style:none !important; background:url(images/bullet_azul.gif) no-repeat 0 4px !important; padding:0 0 0 12px !important; margin:5px 0 !important;}
#direita ul li a {color:#2DBFF6 !important; font-size:11px !important;}
#menuDireito {background:none !important; padding:10px !important; width: 97%; min-height: 700px;}
#menuDireito .divFundo {padding:14px !important;}
#menuDireito ul {margin:0 !important; padding:0 !important;}
#menuDireito ul li {margin:0 !important; padding:0 !important;}
#menuDireito ul a {font-size:11px !important; color:#656565 !important; padding:5px !important;}

/* Departamentos */
.table-departamentos {padding:0px 20px;}
.treeview h3 {color:#01B1F4 !important; font-size:16px !important; font-weight:normal !important; padding:2px 0 0 0 !important;}
.treeview ul li {font-size:12px !important; color:#656565 !important; list-style:none !important;}
.treeview ul li a {font-size:12px !important; color:#01B1F4 !important; background:url(images/bullet_azul.gif) no-repeat 0 6px !important; padding:0 0 0 12px !important;}

/* Eco Ambiente */
.table-ecoAmbiente {padding:0px;}
.table-ecoAmbiente p {color:#656565 !important; font-size:12px !important;}
.table-ecoAmbiente .data {color:#01B1F4 !important;}
#latEsquerdo .menu li {border-bottom:none !important; position: relative; width:auto !important;}
#latEsquerdo .menu li a {font-weight:normal;}
#latEsquerdo .menu li a:hover {font-weight:normal; background-color:transparent !important;}
#latEsquerdo .menu li a:active {background-color:transparent !important; color:#656565 !important; text-decoration:none !important; position: relative;}
#latEsquerdo .menu li a:focus {background-color:transparent !important; color:#656565 !important; position: relative;}
.jcarousel-skin-tango {background:#FFF  url(images/bg_carousel.png) no-repeat bottom center !important; padding:0 0 12px 0 !important; margin:20px 0 !important;}
.jcarousel-skin-tango .jcarousel-container {background:#FFF !important; border: 3px solid #019AD5 !important; border-radius:0 !important;}
.table-ecoAmbiente  h3 {color:#01B1F4 !important; font-size:16px !important; font-weight:normal !important; background:none !important;}
.table-ecoAmbiente .informacoes .titulo {background:url(images/bullet_azul.gif) no-repeat 0 5px !important;}
.table-ecoAmbiente a{color:#01B1F4 !important;}
.table-ecoAmbiente p a{color:#01B1F4 !important;}
.table-ecoAmbiente span a{color:#01B1F4 !important;}

/* Agenda */
.table-agenda {padding:0px 20px;}
.tabLegenda {border: 1px solid #3DC3F8 !important; padding:6px 4px !important; background:#FFF !important; margin:20px 0 !important;}
.tabLegenda .titulo-legenda {color:#00B1F4 !important; font-size:14px !important; font-weight:normal !important;}
.tabLegenda div.box {margin: 0 0 0 6px !important;}
.tabLegenda td {color: #656565; padding: 5px 2px;}
.fc-header .ui-state-default {background:url(images/bg_calendario.png) repeat-x top !important; border:none !important; margin:0 4px 0 0 !important;}
.ui-corner-right {border-bottom-right-radius:0px !important; border-top-right-radius:0px !important;}
.ui-corner-left {border-bottom-left-radius:0px !important; border-top-left-radius: 0px !important;}
.fc-header .ui-no-right a {color:#FFFFFF !important;}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {color:#FFF !important; text-decoration: none;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {color:#FFF !important; text-decoration: none;}
.fc-header .ui-state-default {height:32px; padding: 10px 20px 0 20px !important; text-align: center; width: 54px; position:relative;}
.ui-state-default .ui-icon {background-repeat:no-repeat !important; width:21px !important; height:17px !important;}
.ui-icon-circle-triangle-e {background-position: -56px 0px !important; position:absolute !important; top:12px; left:36px;}
.ui-icon-circle-triangle-w {background-position: 0px 0px !important; position:absolute !important; top:12px; left:34px;}
.fc .fc-grid th {background:url(images/bg_calendario.png) repeat-x top !important; border-width:0 !important; text-align: center; height:42px !important; padding:10px 0 0 0 !important; font-size:16px !important; color:#FFFFFF !important; font-weight:normal !important;}
.ui-state-default, .ui-widget-content .ui-state-default {border: 1px solid #01B1F4 !important; color:#00B2EE !important; padding: 6px; font-size:16px !important; font-weight:normal !important;}
.fc .fc-grid td {height: 112px;}
.fc-event-title {font-size:12px !important;}
.fc-event-title {padding: 0 2px 0 4px !important;}
.fc-content .fc-corner-right a, .fc-content .fc-corner-left a {border-right-width:0 !important; margin-right:0 !important; border-left-width:0 !important; margin-left:0 !important;}

.table-agenda .box {width:16px !important; height:16px !important;}
.Feriado, .Curso, .Palestra, .Workshop, .Apresentacao, .Cancelado, .legendaHoje {border:none !important;}
.Feriado a, .Curso a, .Palestra a, .Workshop a, .Apresentacao a, .Cancelado a {border-color:#FCFDFD !important; border-style: none !important; border:none !important; color:#656565 !important; font-size:12px !important; font-family:Tahoma, Geneva, sans-serif !important;}
.Feriado a:hover, .Curso a:hover, .Palestra a:hover, .Workshop a:hover, .Apresentacao a:hover, .Cancelado a:hover {text-decoration:underline !important;}
.cor-evento {width:12px !important; height:12px !important; display:block !important; float:left !important; overflow:hidden !important; text-indent:-20000px !important; margin:1px 6px 0 0 !important;}

.Feriado .cor-evento {background:#000000 !important;}
.Curso .cor-evento {background:#00CC00 !important;}
.Palestra .cor-evento {background:#FF9933 !important;}
.Workshop .cor-evento {background:#0000FF !important;}
.Apresentacao .cor-evento {background:#6600CC !important;}
.Cancelado .cor-evento {background:#FF0000 !important;}


/* Novos Livros */
#biblioteca_novos p {color:#656565 !important; font-size:12px !important; clear:both; width:100%; float:left; margin:10px 0;}
#biblioteca_novos p img {float:left; margin:0 10px 10px 0;} 
#MenuRamal a {font-size:12px !important; color:#01B1F4 !important; padding:0 10px 0 8px !important; background:url(images/ico_seta.gif) no-repeat 0 6px !important;}

/* Sugestão de Atendimento */
#texto li {background:url(images/bullet_azul.gif) no-repeat 0 5px !important; list-style:none !important; padding:0 0 0 14px !important; font-size:12px !important; color:#656565 !important;}

/* Sugestão de Campanhas */
.table-campanhas p {color:#656565 !important; font-size:12px !important;}
.table-campanhas .tit_brindes_cinza {text-align:center !important;}
.table-campanhas a{color:#01B1F4 !important;}
.table-campanhas p a{color:#01B1F4 !important;}
.table-campanhas span a{color:#01B1F4 !important;}

/* Cardápio */
.table-cardapio {border:solid 1px #0199D5;}
.table-cardapio tr td {padding:10px; border:solid 1px #0199D5;}
.table-cardapio tr td p {color:#656565 !important; font-size:12px !important;}
.table-cardapio .alert {font-size:12px !important; color:#01B1F4 !important;}
.table-cardapio a{color:#01B1F4 !important;}
.table-cardapio p a{color:#01B1F4 !important;}
.table-cardapio span a{color:#01B1F4 !important;}

/* Cardápio */
.lista-passo li {margin:0 0 16px 0 !important;}

/* Alterar Ramal */
.table-padrao .simple {margin:20px 0; color:#656565 !important; font-size:12px !important;}
.table-padrao .simple a {color:#01B1F4 !important;}
.table-padrao .pagebanner {color:#656565 !important; font-size:12px !important; font-weight:bold !important; text-align:center !important; width:100% !important; display:block !important;}
.table-padrao .pagelinks {color:#656565 !important; font-size:12px !important; font-weight:normal !important; text-align:center !important; width:100% !important; display:block !important;}
.table-padrao .pagelinks a {color:#01B1F4 !important; padding:0 4px !important;}
.table-padrao .headerTab {color:#656565 !important; font-size:12px !important; font-weight:bold !important; text-align:left;}
.table-padrao .titulo-resultado h3 {text-align:left !important; margin:0 0 20px 0 !important;}

/* Popup Aniversario */
.txt-aniversario {text-align: center; font-size: 37px; width: 100%; float: left; line-height: 40px; margin: 14px 0pt;}

/* Ramais e Endereços */
#vantagens p {color:#656565 !important; font-size:12px !important;}
#vantagens img {float:left; margin:0 10px 10px 0;} 
.linha-divisoria {width:790px !important; height:auto !important;}

/* Para Voce */
.table-paraVoce h3 {font-size:16px !important; color:#01B1F4 !important; font-weight:normal !important; padding:4px 0 0 0;}
.table-paraVoce p {color:#656565 !important; font-size:12px !important;}
.table-paraVoce a{color:#01B1F4 !important;}
.table-paraVoce p a{color:#01B1F4 !important;}
.table-paraVoce span a{color:#01B1F4 !important;}

/* Sistemas */
#meio_conteudo.table-padrao{padding-top: 0px !important;}
.table-padrao #sistemas {margin:0 !important;}
#modulos .titulo {padding:0 0 0 14px !important; color:#656565 !important; font-size:12px !important; margin:12px 0 0 0 !important;}
#modulos .titulo:hover {color:#656565 !important; font-size:12px !important;}


/* Periodicos */
.table-periodicos b {margin:10px 0 4px 0 !important; display:block !important; color:#656565 !important; font-size:12px !important;}
.table-periodicos p {color:#656565 !important; font-size:12px !important;}
.table-periodicos table a {color:#01B1F4 !important; font-size:12px !important;}
.table-periodicos a{color:#01B1F4 !important;}
.table-periodicos p a{color:#01B1F4 !important;}
.table-periodicos span a{color:#01B1F4 !important;}

/* Periodicos */
#bc_abas a {background:url(images/bg_abas.png) repeat-x top !important; color:#FFFFFF !important; font-size:12px !important;}
#bc_abas .current a {background:url(images/bg_abas_current.png) repeat-x bottom !important; color:#FFFFFF !important; font-size:14px !important;}
#box {border:solid 1px #01B1F4 !important;}
#box a {color:#01B1F4 !important;}

/* Sites Corporação */
#vantagens h3 {font-size:16px !important; color:#01B1F4 !important; font-weight:normal !important; margin:0 0 10px 0 !important;}
#vantagens a {font-size:12px !important; color:#01B1F4 !important;}

/* Informativos */
#vantagens_direita {width:640px !important;}

/* Linha de Inspeção */
#latDireito {width:640px !important;}

/* Bom Dia Porto Seguro */
.titulo_pergunta {text-decoration:none; color:#01AFF4; padding:0 0 0 8px; background:url(images/ico_seta.gif) no-repeat 0 5px;}
div.fundo {background-color: #B3E2FF !important;  border: 1px solid #01AFF4 !important;  margin: 0 10px;  padding: 10px 15px;}
.table-bomdia tr td {padding:2px !important;}
.table-bomdia p {color:#656565 !important; font-size:12px !important;}
.table-bomdia a {font-size:12px !important; color:#01B1F4 !important;}

.table-bomdia p a{color:#01B1F4 !important;}
.table-bomdia span a{color:#01B1F4 !important;}

/* Alarmes e Transportes */
.alarmesTransportes {background:#01B1F5 !important; color:#656565 !important;}

/* Relatório Eventos */
.tabela.azul th {background:#01B1F4 !important; color:#FFFFFF !important;}
.tabela.azul .headerBotao {background-color:#FFFFFF !important; }
.tabela.azul td {color:#656565 !important;}

/* Espaço Cultural */
.table-cultural b {margin:10px 0 4px 0 !important; display:block !important; color:#656565 !important; font-size:12px !important;}
.table-cultural p {color:#656565 !important; font-size:12px !important;}
.table-cultural table a {color:#01B1F4 !important; font-size:12px !important;}
.table-cultural h3 {font-weight:normal !important;}
.table-cultural a{color:#01B1F4 !important;}
.table-cultural p a{color:#01B1F4 !important;}
.table-cultural span a{color:#01B1F4 !important;}

#portuguesdahora {color:#1FBAF5 !important; font-weight:normal !important; width:auto !important; padding:20px 0 10px 0 !important; height:52px !important;}
#portuguesdahora span {font-size: 12px;  margin-left:20px !important;  margin-top:0 !important; padding:0 0 4px 0 !important;}
#biblioteca_novos p {clear: both; display: block; height:auto !important; margin-bottom:0 !important;}
#biblioteca_novos p a {text-decoration:underline; color:#01AFF4; padding:0 0 0 8px; background:url(images/ico_seta.gif) no-repeat 0 6px;}
#biblioteca_novos p a:hover {text-decoration:none;}
.home_novos {}

/* Central de Servicoes */
.table-central-servicos {padding:0px;}
.table-central-servicos h3  {display:inline; color:#01AFF4 !important; background:none !important; font-size:16px !important; font-weight:normal !important;}
.table-central-servicos h3.titulo img { vertical-align:middle;}
.table-central-servicos .itens a {color:#01B1F4 !important; font-size:12px !important; background:url(images/bullet_azul.gif) no-repeat 0 5px !important; padding:0 0 6px 14px !important; display:block;}
.table-central-servicos a{color:#01B1F4 !important;}
.table-central-servicos p a{color:#01B1F4 !important;}
.table-central-servicos span a{color:#01B1F4 !important;}

.postit_body_full {background:url(images/aviso_body_full.jpg) repeat-y; width:977px;}
.postit_head_full {background:url(images/aviso_top_full.jpg) no-repeat left top;}
.postit_bottom_full {background:url(images/aviso_bottom_full.jpg) no-repeat left bottom; padding:25px 12px;}
div.box {margin:0 14px 10px 0 !important;}
/*Alterado para nova tela de login*/
#login_fundo_img {padding:9px 0 0 0; text-align: center; width: 100%; background:url(images/bg_login_fotos.jpg) no-repeat center top !important;top: -47px;}

.postit_body_full ul.listaBullet li {background: url(images/bullet_amarelo.gif) no-repeat 0 5px !important; padding:0 0 6px 12px !important; display:block !important; color:#656565 !important; font-size:12px !important;}
.postit_body_full ul.listaBullet li a {color:#01B1F4 !important; font-size:12px !important;}

/* Nosso Porto */
.lista-doc {overflow:hidden; display:block;}
.lista-doc ul {list-style:none; display: inline-block; margin:0 0 10px -12px; padding:0;}
.lista-doc ul li {list-style:none; display: inline; margin:0; color:#01B1F4 !important; font-size:16px !important; padding:0 0 0 12px; background:url(images/ico_seta.gif) no-repeat 0 6px;}
.tabela-bts-nossoporto input.bt_100px {background: url(images/bc_botao_100px_azul.gif) no-repeat !important;}
#novoDocumentos table {width: 618px !important; margin:10px 0 !important;}
#novoDocumentos table th {background-color:#CDCFCF !important;  border-bottom: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC; color: #656565 !important; font-size: 11px; height: 20px;}
#novoDocumentos table tr td {padding:2px !important;}
#novoDocumentos table tr td a {color:#01B1F4 !important; font-size:12px !important;}

/* Popup */
#WzTtDiV {}
#WzTiTlTb {height:39px !important;}
#WzTiTlI {padding:0 0 0 10px !important;}
#WzTiTl {background: url(images/bg_calendario.png) repeat-x top !important; font-size:12px !important; font-weight:normal !important;}
#WzTiTlI span, #WzTiTlI {font-weight:normal !important;}
#WzBoDy {border-color: #0199D5 !important;}
#WzBoDyI, #WzBoDyI td {color:#656565 !important; font-size:12px !important;}
#WzBoDyI a, #WzBoDyI td a {color:#01AFF4 !important;}

.coluna h3{color: #01B1F4 !important;}

.divFundoBig h3.titulo{font-weight:normal !important;}

/* Galeria */
.jcarousel-skin-tango .jcarousel-prev-horizontal {background: url("images/prev-horizontal.png") no-repeat scroll 0 0 transparent;}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {background-image: url(images/prev-horizontal.png);}
.jcarousel-skin-tango .jcarousel-next-horizontal {background: transparent url(images/next-horizontal.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {background-image: url("images/next-horizontal.png");}

.por_86_listadoBloco2 h3{
    color: #01B1F4 !important;
}

table.tabela tr td {
	border: 1px solid #01B1F4;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
   .fc-view { border-right:1px solid #01B1F4 !important; border-left:none !important;}
}

.fc-view{
	border-left: 1px solid #01B1F4;
}

.fc-view{
	border-left: none !important\9;
	_border-left: none !important;
	*border-left: none !important;
	border-right: none !important\9;
	_border-right: none !important;
	*border-right: none !important;
	
	}


.exemplo {
    color: #01B1F4 !important;
	}

.table-padrao h6 {color:#01B1F4 !important; background:#d4f1f9 !important;}

.atencao_db{color:#FF1111 !important;}

.sucesso_db{color:#01B1F4 !important;}

tr .even{background-color:#def2f9 !important;}
th .headerTab{background-color:#def2f9 !important;}
.simple th.headerTab {background-color:#def2f9 !important;}

  #tituloLogin{
	 background: url(images/title_img_login.png) no-repeat right; 
     }

